.reveal-on-scroll {
  opacity: 1; // keep the container stable and visible

  img {
    opacity: 0;
  }

  &.revealed {
    img {
      animation: imgScaleFadeIn 1s ease-in-out forwards;
    }
  }
}

@keyframes imgScaleFadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}