.letter-spacing {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.border {
  border: 1px solid #fff3;

  &.radius {
    border-radius: 40px;
  }
}

.display-none {
  display: none;
}

.color-white {
  color: var(--color-white);
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

.color-primary {
  color: var(--color-primary);
}


.button {
  background-color: white;
  color: #101010;
  padding: 1em 2em;
  border-radius: 2em;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #101010;
    color: white;
  }
}

// Hide scrollbar
html {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  display: none;
}