// Import base styles
@import 'base/variables';
@import 'base/typography';
@import 'base/reset';

// Import layout styles
@import 'layout/layout';


// Import component styles
// @import 'components/buttons';
@import 'components/reveal';
@import 'components/utilities';
@import 'components/sections';