---
import Layout from '../../layouts/Layout.astro';
import ContactSection from '../../components/sections/Contact.astro';
---

<Layout
  title="Contact — Yanis Deplazes"
  description="Get in touch for collaborations, inquiries, or just to connect—let's create something meaningful together."
  image="/seo/contact.jpg"
>
  <h1 class="display-none">Contact</h1>
  <ContactSection />
</Layout>
<scss>
  <style lang="scss" is:global>
    section {
      min-height: 100vh;
      height: 100%;
      flex: 1;
    }

    body {
      height: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  </style></scss
>
