---
import Wrapper from '../../layouts/Wrapper.astro';
import Image from '../Image.astro';

const section = {
  title: "Hi I'm Yanis",
  description:
    'A creative technologist, digital artist, and storyteller with a passion for web development, interactive media, photography, and videography. I love blending technology with art to craft immersive experiences and capture unique perspectives through both code and visuals.',
  image: 'https://film.yanis.io/assets/character/me.png',
  imageAlt: 'me',
};
---

<section class="about">
  <Wrapper>
    <div class="container border radius">
      <div class="text">
        <div class="title">
          <h2 class="fahkwang-bold font-size-3">{section.title}</h2>
        </div>
        <p class="font-size-p color-light">{section.description}</p>
      </div>
      <div class="image">
        <Image url={section.image} alt={section.imageAlt} />
      </div>
    </div>
  </Wrapper>
</section>

<style lang="scss">
  .about {
    .container {
      padding: var(--padding-inner);
      overflow: hidden;
      $breakpoint-tablet: 768px;

      @media (min-width: $breakpoint-tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--space-2xl);
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      .text {
        width: 100%;
      }

      .image {
        width: 100%;
        height: 100%;

        @media (min-width: $breakpoint-tablet) {
          max-width: calc(100% / 3);
        }
      }
    }
  }
</style>
