---
import Wrapper from '../../layouts/Wrapper.astro';
import { works } from '../../data/works.json';
import WorkComponent from '../Work.astro';
---

<section class="work">
  <Wrapper>
    <div class="title">
      <h2 class="fahkwang-bold font-size-1 color-white text-center">
        Work Archive
      </h2>
      <p class="font-size-p">
        A journey through my creative work—capturing moments, building
        experiences, and experimenting across different mediums.
      </p>
    </div>
    <div class="works">
      {
        works.map((work) => (
          <WorkComponent
            title={work.title}
            types={work.types}
            link={work.link}
            year={work.year}
          />
        ))
      }
    </div>
  </Wrapper>
  <style lang="scss"></style>
</section>

<style lang="scss">
  .work {
    .title {
      h2 {
        margin-block-end: 0;
      }
      p {
        margin-block-end: 150px;
        text-align: center;
      }
    }
    .works {
      display: flex;
      flex-direction: column;
      gap: var(--space-2xs);
    }
  }
</style>
