---
import Wrapper from '../../layouts/Wrapper.astro';
import HiddenLink from '../HiddenLink.astro';
const section = {
  title: 'Gallery',
};

import Video from '/src/assets/videos/gallery.mp4';
---

<section class="gallery">
  <Wrapper>
    <div class="container">
      <div class="title">
        <h2 class="fahkwang-bold font-size-1">{section.title}</h2>
      </div>
      <div class="video border radius">
        <video width="500" height="1000" playsinline autoplay muted loop>
          <source src={Video} type="video/mp4" />
        </video>
      </div>
      <span class="tags">
        <div class="letter-spacing font-size-p">Candid</div>
        <div class="letter-spacing font-size-p">Events</div>
        <div class="letter-spacing font-size-p">Portraits</div>
        <div class="letter-spacing font-size-p">Experimental</div>
      </span>
      <HiddenLink
        url="./gallery"
        title="Yanis Deplazes Gallery"
        target="_self"
      />
    </div>
  </Wrapper>
</section>

<style lang="scss">
  .gallery {
    .container {
      position: relative;
      width: auto;
      height: auto;
      max-height: 70vh;
      max-width: 600px;
      aspect-ratio: 2 / 3;
      margin: auto;
      .title {
        pointer-events: none;

        h2 {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 0;
          left: 50%;
          font-weight: bold;
          margin: 0;
          z-index: 1;
          transition: 0.4s ease;
        }
      }

      .tags {
        position: absolute;
        font-weight: bold;
        margin: 0;
        z-index: 1;
        display: flex;
        gap: 10px;
        width: 100%;
        transform: translateY(100%);
        bottom: -10px;
        justify-content: space-between;
        opacity: 0.7;
        pointer-events: none;
        transition: 0.4s ease;
        z-index: -1;
      }
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
        transition: 0.2s ease;
        overflow: hidden;
        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &::after {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: white;
        aspect-ratio: 1 / 1;
        width: 53px;
        height: 53px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;
        content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.9999 8V21C24.9999 21.2652 24.8946 21.5196 24.7071 21.7071C24.5195 21.8946 24.2652 22 23.9999 22C23.7347 22 23.4804 21.8946 23.2928 21.7071C23.1053 21.5196 22.9999 21.2652 22.9999 21V10.4137L8.70745 24.7075C8.51981 24.8951 8.26531 25.0006 7.99995 25.0006C7.73458 25.0006 7.48009 24.8951 7.29245 24.7075C7.1048 24.5199 6.99939 24.2654 6.99939 24C6.99939 23.7346 7.1048 23.4801 7.29245 23.2925L21.5862 9H10.9999C10.7347 9 10.4804 8.89464 10.2928 8.70711C10.1053 8.51957 9.99995 8.26522 9.99995 8C9.99995 7.73478 10.1053 7.48043 10.2928 7.29289C10.4804 7.10536 10.7347 7 10.9999 7H23.9999C24.2652 7 24.5195 7.10536 24.7071 7.29289C24.8946 7.48043 24.9999 7.73478 24.9999 8Z" fill="%23101010"/></svg>');
      }
      &:hover {
        background-color: #00000051;

        &::after {
          transform: translate(50%, -50%) rotate(45deg); // Rotate **around its center**
        }
        .tags {
          bottom: 20px;
          opacity: 0;
        }
        .title {
          h2 {
            top: -20px;
            opacity: 0;
          }
        }
        .image {
          border-radius: 0px;
        }
      }
    }
  }
</style>
