---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="list">
  <h2 class="font-size-small paragraph-font">{title}</h2>
  <ul class="font-size-small">
    <slot />
  </ul>
</div>

<style lang="scss">
  .list {
    display: flex;
    ul {
      list-style: none !important;
      flex: 1;
      margin: 1em 0;
      padding-left: 0px;
      list-style-position: initial !important;
      display: flex;
      gap: 0.5em;
      flex-direction: column;
      margin-block-start: 3px;
      margin-block-end: 15px;

      @media (min-width: 600px) {
        margin: 10px 0px;
      }
    }

    h2 {
      margin-block-start: 15px;
      margin-block-end: 3px;

      @media (min-width: 600px) {
        margin: 10px 0px;
      }
      width: 170px;
      flex-shrink: 0;
      letter-spacing: 10%;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.4;
    }
  }

  @media (max-width: 600px) {
    .list {
      flex-direction: column;
      h2 {
        width: auto;
      }
    }
  }
</style>
