---
import Layout from '../../../layouts/Layout.astro';
import Gallery from '../../../components/sections/Gallery.astro';
import ContactSection from '../../../components/sections/Contact.astro';
import { candid } from '../../../data/gallery.json'; // Import the data
---

<Layout
  title="yanis.io - Gallery - Candid"
  description=" Unscripted moments and raw, authentic photography."
  image="/seo/candid.jpg"
>
  {
    candid.content ? (
      <Gallery galleryData={candid.content} title="Gallery - Candid" />
    ) : (
      <p class="no-images">No images available for this event.</p>
    )
  }
  <ContactSection />
</Layout>
