<div class="logo">
  <a href="/" class="site-title title-font-bold font-size-5">
    Yanis Deplazes
  </a>
  <p class="description font-size-p">
    <span>Visual Artist</span><span>Based in Switzerland</span>
  </p>
</div>

<style lang="scss">
  .logo {
    display: flex;
    gap: 0;
    align-items: start;
    flex-direction: column;
    @media (min-width: 755px) {
      align-items: end;
      flex-direction: row;
      height: 40px;
      gap: var(--space-s);
    }

    .site-title {
      position: relative;
      top: 3px; // Visually align
      @media (max-width: 754px) {
        font-size: 24.3px;
      }
    }
    .description {
      margin-block-start: 0;
      margin-block-end: 0;
      text-align: center;
      span:first-of-type {
        &::after {
          content: ' ';
        }
      }
      @media (max-width: 754px) {
        font-size: 12px !important;
      }
      @media (min-width: 755px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
</style>

<script></script>
