<div class="logo">
  <a
    href="/"
    class="color-primary site-title title-font-bold font-size-5 text-uppercase"
  >
    Yanis Deplazes
  </a>
  <p class="color-primary description text-uppercase font-size-p">
    Visual Artist<br />From Switzerland
  </p>
</div>

<style lang="scss">
  .logo {
    display: flex;
    gap: var(--space-s);
    .site-title {
      position: relative;
      top: -4px; // Visually align
    }
    .description {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
</style>

<script></script>
