---
import Wrapper from '../layouts/Wrapper.astro';
---

<section class="about">
  <Wrapper>
    <div class="title">
      <h2>Who am I?</h2>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <img src="https://film.yanis.io/assets/character/me.png" alt="me" />
  </Wrapper>
</section>

<style lang="scss">
  .about {
    .title {
      h2 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
      }
    }
    p {
      font-size: 40px;
    }
  }
</style>
