---
import Wrapper from '../layouts/Wrapper.astro';
import Background from '../components/Background.astro';
---

<section class="contact">
  <Wrapper>
    <a href="mailto:info@yanis.io" class="email">info@yanis.io</a>
    <div class="title">
      <h2>Contact</h2>
      <svg
        width="1060"
        height="194"
        viewBox="0 0 1060 194"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M44.796 193.68C30.5027 193.68 19.604 189.66 12.1 181.62C4.596 173.401 0.844 161.699 0.844 146.512V47.888C0.844 32.7013 4.596 21.088 12.1 13.048C19.604 4.82932 30.5027 0.71999 44.796 0.71999C59.0893 0.71999 69.988 4.82932 77.492 13.048C84.996 21.088 88.748 32.7013 88.748 47.888V63.968H60.876V46.012C60.876 33.684 55.784 27.52 45.6 27.52C35.416 27.52 30.324 33.684 30.324 46.012V148.656C30.324 160.805 35.416 166.88 45.6 166.88C55.784 166.88 60.876 160.805 60.876 148.656V111.94H46.136V85.14H88.748V146.512C88.748 161.699 84.996 173.401 77.492 181.62C69.988 189.66 59.0893 193.68 44.796 193.68ZM107.676 3.39999H188.076V30.2H137.156V79.78H177.624V106.58H137.156V164.2H188.076V191H107.676V3.39999ZM228.083 30.2H197.263V3.39999H288.383V30.2H257.563V191H228.083V30.2ZM345.578 3.39999H375.058V191H345.578V3.39999ZM397.136 3.39999H434.12L462.796 115.692H463.332V3.39999H489.596V191H459.312L423.936 54.052H423.4V191H397.136V3.39999ZM577.477 30.2H546.657V3.39999H637.777V30.2H606.957V191H577.477V30.2ZM693.616 193.68C679.144 193.68 668.066 189.571 660.384 181.352C652.701 173.133 648.86 161.52 648.86 146.512V47.888C648.86 32.88 652.701 21.2667 660.384 13.048C668.066 4.82932 679.144 0.71999 693.616 0.71999C708.088 0.71999 719.165 4.82932 726.848 13.048C734.53 21.2667 738.372 32.88 738.372 47.888V146.512C738.372 161.52 734.53 173.133 726.848 181.352C719.165 189.571 708.088 193.68 693.616 193.68ZM693.616 166.88C703.8 166.88 708.892 160.716 708.892 148.388V46.012C708.892 33.684 703.8 27.52 693.616 27.52C683.432 27.52 678.34 33.684 678.34 46.012V148.388C678.34 160.716 683.432 166.88 693.616 166.88ZM801.188 193.68C786.895 193.68 775.996 189.66 768.492 181.62C760.988 173.401 757.236 161.699 757.236 146.512V3.39999H786.716V148.656C786.716 155.088 787.967 159.733 790.468 162.592C793.148 165.451 796.9 166.88 801.724 166.88C806.548 166.88 810.211 165.451 812.712 162.592C815.392 159.733 816.732 155.088 816.732 148.656V3.39999H845.14V146.512C845.14 161.699 841.388 173.401 833.884 181.62C826.38 189.66 815.482 193.68 801.188 193.68ZM907.676 193.68C893.562 193.68 882.752 189.66 875.248 181.62C867.923 173.58 864.26 162.235 864.26 147.584V46.816C864.26 32.1653 867.923 20.82 875.248 12.78C882.752 4.73999 893.562 0.71999 907.676 0.71999C921.791 0.71999 932.511 4.73999 939.836 12.78C947.34 20.82 951.092 32.1653 951.092 46.816V66.648H923.22V44.94C923.22 33.3267 918.307 27.52 908.48 27.52C898.654 27.52 893.74 33.3267 893.74 44.94V149.728C893.74 161.163 898.654 166.88 908.48 166.88C918.307 166.88 923.22 161.163 923.22 149.728V121.052H951.092V147.584C951.092 162.235 947.34 173.58 939.836 181.62C932.511 189.66 921.791 193.68 907.676 193.68ZM968.73 3.39999H998.21V79.78H1029.83V3.39999H1059.31V191H1029.83V106.58H998.21V191H968.73V3.39999Z"
          fill="white"></path>
      </svg>
    </div>

    <nav class="social">
      <ul>
        <li>Instagram</li>
        <li>GitHub</li>
        <li>Vimeo</li>
        <li>Behance</li>
        <li>LinkedIn</li>
      </ul>
    </nav>
  </Wrapper>
  <Background />
</section>

<style lang="scss" is:global>
  section.contact {
    min-height: unset;

    .email {
      font-size: 48px;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }

    .title {
      h2 {
        display: none;
      }
      svg {
        width: 100%;
        height: auto;
        margin-block-start: 3vw;
        margin-block-end: 3vw;
      }
    }

    .social {
      border-top: 1px solid white;
      ul {
        display: flex;
        gap: 40px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          font-size: 20px;
          text-transform: uppercase;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
        }
      }
    }
  }
</style>
