---
import Wrapper from '../layouts/Wrapper.astro';
---

<section class="gallery">
  <Wrapper>
    <div class="title">
      <h2>Gallery</h2>
    </div>
  </Wrapper>
</section>

<style lang="scss">
  .gallery {
    .title {
      h2 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
</style>
