---
const currentPath = Astro.url.pathname;
---

<nav>
  <ul>
    <li>
      <a
        href="/gallery"
        class={currentPath.startsWith('/gallery') ? 'active' : ''}
        >Gallery
      </a>
      <li>
        <a
          href="/gallery/event"
          class={currentPath.startsWith('/gallery/event') ? 'active' : ''}
          >Events</a
        >
      </li>
      <li>
        <a
          href="/gallery/candid"
          class={currentPath.startsWith('/gallery/candid') ? 'active' : ''}
          >Candid</a
        >
      </li>
      <li>
        <a
          href="/gallery/portraits"
          class={currentPath.startsWith('/gallery/portraits') ? 'active' : ''}
          >Portraits</a
        >
      </li>
    </li>
  </ul>

  <style lang="scss">
    nav {
      margin-block-end: 150px;
      ul {
        list-style: none;
        padding-inline-start: 0;
        display: flex;
        column-gap: var(--space-m);
        row-gap: var(--space-2xs);
        flex-wrap: wrap;
        justify-content: center;

        li {
          a {
            color: white;
            text-decoration: none;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            &.active {
              opacity: 0.7;
            }
          }
        }
      }
    }
  </style>
</nav>
