---
const links = [
  //   { name: 'About me', path: '/about' },
  { name: 'Work', path: '/work' },
  { name: 'Gallery', path: '/gallery' },
];
---

<nav class="navigation">
  <div id="hamburger" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="list" id="desktopNav">
    {
      links.map(({ name, path }) => (
        <li>
          <a
            href={path}
            class="color-white link font-size-small letter-spacing"
          >
            {name}
          </a>
        </li>
      ))
    }
    <li>
      <a href="/contact" class="button font-size-small letter-spacing"
        >Contact</a
      >
    </li>
  </ul>

  <ul class="mobile-nav border radius" id="mobileNav">
    {
      links.map(({ name, path }) => (
        <li>
          <a
            href={path}
            class="color-white link font-size-small letter-spacing"
          >
            {name}
          </a>
        </li>
      ))
    }
    <li>
      <a href="/contact" class="color-white link font-size-small letter-spacing"
        >Contact</a
      >
    </li>
  </ul>
</nav>

<style lang="scss">
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
      gap: var(--space-xl);
    }

    /* Hamburger Menu */
    .hamburger {
      display: none;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      span {
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
      }
    }

    /* Mobile Navigation */
    .mobile-nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: calc(100% - 2 * var(--padding-side));
      left: 0;
      list-style: none;
      background-color: #101010c0;
      padding: var(--padding-side);
      opacity: 0;
      transition: opacity 0.3s ease-out;
      top: -100vh;
    }

    @media (max-width: 768px) {
      .list {
        display: none;
      }

      .hamburger {
        display: flex;
      }

      .mobile-nav.show {
        opacity: 1;
        top: 100%;
      }

      /* Hamburger Animation */
      .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active span:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.getElementById('hamburger') as HTMLDivElement;
    const mobileNav = document.getElementById('mobileNav') as HTMLUListElement;

    if (hamburger && mobileNav) {
      hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('active');
        mobileNav.classList.toggle('show');
      });
    }
  });
</script>
