---
import Wrapper from '../layouts/Wrapper.astro';
import Background from '../components/Background.astro';
---

<section class="welcome">
  <Wrapper>
    <div class="title">
      <span>Creative Coder</span>
      <h2>Yanis Deplazes</h2>
      <svg
        width="1308"
        height="194"
        viewBox="0 0 1308 194"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M36.056 111.136L0.412 3.39999H31.768L51.868 72.276H52.404L72.504 3.39999H101.18L65.536 111.136V191H36.056V111.136ZM124.94 3.39999H164.872L195.424 191H165.944L160.584 153.748V154.284H127.084L121.724 191H94.3879L124.94 3.39999ZM157.1 128.824L143.968 36.096H143.432L130.568 128.824H157.1ZM209.726 3.39999H246.71L275.386 115.692H275.922V3.39999H302.186V191H271.902L236.526 54.052H235.99V191H209.726V3.39999ZM324.097 3.39999H353.577V191H324.097V3.39999ZM413.98 193.68C399.687 193.68 388.877 189.66 381.552 181.62C374.227 173.401 370.564 161.699 370.564 146.512V135.792H398.436V148.656C398.436 160.805 403.528 166.88 413.712 166.88C418.715 166.88 422.467 165.451 424.968 162.592C427.648 159.555 428.988 154.731 428.988 148.12C428.988 140.259 427.201 133.38 423.628 127.484C420.055 121.409 413.444 114.173 403.796 105.776C391.647 95.056 383.16 85.408 378.336 76.832C373.512 68.0773 371.1 58.2507 371.1 47.352C371.1 32.5227 374.852 21.088 382.356 13.048C389.86 4.82932 400.759 0.71999 415.052 0.71999C429.167 0.71999 439.797 4.82932 446.944 13.048C454.269 21.088 457.932 32.7013 457.932 47.888V55.66H430.06V46.012C430.06 39.58 428.809 34.9347 426.308 32.076C423.807 29.0387 420.144 27.52 415.32 27.52C405.493 27.52 400.58 33.5053 400.58 45.476C400.58 52.2653 402.367 58.608 405.94 64.504C409.692 70.4 416.392 77.5467 426.04 85.944C438.368 96.664 446.855 106.401 451.5 115.156C456.145 123.911 458.468 134.184 458.468 145.976C458.468 161.341 454.627 173.133 446.944 181.352C439.44 189.571 428.452 193.68 413.98 193.68ZM518.293 3.39999H563.317C577.967 3.39999 588.955 7.33066 596.281 15.192C603.606 23.0533 607.269 34.5773 607.269 49.764V144.636C607.269 159.823 603.606 171.347 596.281 179.208C588.955 187.069 577.967 191 563.317 191H518.293V3.39999ZM562.781 164.2C567.605 164.2 571.267 162.771 573.769 159.912C576.449 157.053 577.789 152.408 577.789 145.976V48.424C577.789 41.992 576.449 37.3467 573.769 34.488C571.267 31.6293 567.605 30.2 562.781 30.2H547.773V164.2H562.781ZM627.168 3.39999H707.568V30.2H656.648V79.78H697.116V106.58H656.648V164.2H707.568V191H627.168V3.39999ZM724.527 3.39999H767.943C782.594 3.39999 793.582 7.33066 800.907 15.192C808.232 23.0533 811.895 34.5773 811.895 49.764V68.256C811.895 83.4427 808.232 94.9667 800.907 102.828C793.582 110.689 782.594 114.62 767.943 114.62H754.007V191H724.527V3.39999ZM767.943 87.82C772.767 87.82 776.34 86.48 778.663 83.8C781.164 81.12 782.415 76.564 782.415 70.132V47.888C782.415 41.456 781.164 36.9 778.663 34.22C776.34 31.54 772.767 30.2 767.943 30.2H754.007V87.82H767.943ZM827.906 3.39999H857.386V164.2H905.894V191H827.906V3.39999ZM943.858 3.39999H983.79L1014.34 191H984.862L979.502 153.748V154.284H946.002L940.642 191H913.306L943.858 3.39999ZM976.018 128.824L962.886 36.096H962.35L949.486 128.824H976.018ZM1023.8 164.736L1078.47 30.2H1026.48V3.39999H1110.09V29.664L1055.42 164.2H1110.09V191H1023.8V164.736ZM1126.79 3.39999H1207.19V30.2H1156.27V79.78H1196.74V106.58H1156.27V164.2H1207.19V191H1126.79V3.39999ZM1263 193.68C1248.7 193.68 1237.89 189.66 1230.57 181.62C1223.24 173.401 1219.58 161.699 1219.58 146.512V135.792H1247.45V148.656C1247.45 160.805 1252.54 166.88 1262.73 166.88C1267.73 166.88 1271.48 165.451 1273.98 162.592C1276.66 159.555 1278 154.731 1278 148.12C1278 140.259 1276.22 133.38 1272.64 127.484C1269.07 121.409 1262.46 114.173 1252.81 105.776C1240.66 95.056 1232.18 85.408 1227.35 76.832C1222.53 68.0773 1220.12 58.2507 1220.12 47.352C1220.12 32.5227 1223.87 21.088 1231.37 13.048C1238.88 4.82932 1249.77 0.71999 1264.07 0.71999C1278.18 0.71999 1288.81 4.82932 1295.96 13.048C1303.28 21.088 1306.95 32.7013 1306.95 47.888V55.66H1279.08V46.012C1279.08 39.58 1277.82 34.9347 1275.32 32.076C1272.82 29.0387 1269.16 27.52 1264.34 27.52C1254.51 27.52 1249.6 33.5053 1249.6 45.476C1249.6 52.2653 1251.38 58.608 1254.96 64.504C1258.71 70.4 1265.41 77.5467 1275.06 85.944C1287.38 96.664 1295.87 106.401 1300.52 115.156C1305.16 123.911 1307.48 134.184 1307.48 145.976C1307.48 161.341 1303.64 173.133 1295.96 181.352C1288.46 189.571 1277.47 193.68 1263 193.68Z"
          fill="white"></path>
      </svg>
    </div>
  </Wrapper>
  <Background />
</section>

<style lang="scss">
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
      position: relative;
      height: 100%;

      h2 {
        display: none;
      }
      span {
        font-size: 48px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
      }

      svg {
        width: 100%;
        height: auto;
        margin-block-start: 3vw;
        margin-block-end: 3vw;
      }
    }
  }
</style>
