<div class="copyright font-size-small text-transform-reset">
  Copyright © 2025 Yanis Deplazes.<br />
  All rights reserved.
</div>

<style lang="scss">
  .copyright {
    text-align: center;

    @media (min-width: 755px) {
      text-align: left;
    }
  }
</style>
