---
import Wrapper from '../layouts/Wrapper.astro';

import Logo from '../components/header/Logo.astro';
import Navigation from '../components/header/Navigation.astro';
import Info from '../components/header/Info.astro';

interface Props {
  infos?: string[];
}

const { infos = [] } = Astro.props;
---

<header>
  <Wrapper>
    <div class="container">
      <Logo />
      <Info infos={infos} />
      <Navigation />
    </div>
  </Wrapper>
  <div class="fade"></div>
</header>

<style lang="scss">
  header {
    width: 100vw;
    position: fixed;
    z-index: 10;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
