---
import Wrapper from './Wrapper.astro';
---

<section
  class="project-content font-size-2"
  data-background="var(--color-section-2)"
>
  <Wrapper>
    <slot />
  </Wrapper>
</section>

<style lang="scss" is:global>
  .project-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 50vh;
    padding-bottom: 50vh;
    p {
      max-width: 1200px;
      margin: auto;
    }
    img {
      margin-block-start: var(--space-6xl);
      margin-block-end: var(--space-6xl);

      max-width: 1200px;
      width: 100%;
      height: auto;
    }
  }
</style>
