<div class="wrapper">
  <slot />
</div>
<style lang="scss">
  .wrapper {
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    max-width: 1920px;
    margin: auto;
  }
</style>
