html {
  color: white;

  body {
    background-color: #101010;
    margin: 0;
    transition: background-color 0.4s ease-in-out
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}