@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
$breakpoint-tablet: 768px;

html {
  font-family: 'Inter', sans-serif;
}
body {  
  color: var(--color-primary);
  text-transform: uppercase;
}

.paragraph-font {
  font-family: 'Inter', sans-serif;
}

.title-font {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.title-font-bold {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title-font-extra-bold {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-weight-normal {
  font-weight: 400;
}

.font-size-1 {
  font-size: 2.986rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 5.61rem;
  }
}

.font-size-2 {
  font-size: 2.488rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 4.209rem;
  }
}

.font-size-3 {
  font-size: 2.074rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.157rem;
  }
}

.font-size-4 {
  font-size: 1.728rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.369rem;
  }
}

.font-size-5 {
  font-size: 1.44rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.777rem;
  }
}

.font-size-6 {
  font-size: 1.2rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.333rem;
  }
}

.font-size-p {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.833rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 0.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-transform-reset {
    text-transform:none;
}
