@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&family=Roboto:wght@100..900&display=swap');

$breakpoint-tablet: 768px;

html {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

// Fahkwang Font Variants
@mixin fahkwang-style($weight, $italic: false) {
  font-family: 'Fahkwang', serif;
  font-weight: $weight;
  font-style: if($italic, italic, normal);
}

.fahkwang-extralight {
  @include fahkwang-style(200);
}
.fahkwang-light {
  @include fahkwang-style(300);
}
.fahkwang-regular {
  @include fahkwang-style(400);
}
.fahkwang-medium {
  @include fahkwang-style(500);
}
.fahkwang-semibold {
  @include fahkwang-style(600);
}
.fahkwang-bold {
  @include fahkwang-style(700);
}

.fahkwang-extralight-italic {
  @include fahkwang-style(200, true);
}
.fahkwang-light-italic {
  @include fahkwang-style(300, true);
}
.fahkwang-regular-italic {
  @include fahkwang-style(400, true);
}
.fahkwang-medium-italic {
  @include fahkwang-style(500, true);
}
.fahkwang-semibold-italic {
  @include fahkwang-style(600, true);
}
.fahkwang-bold-italic {
  @include fahkwang-style(700, true);
}

.font-size-1 {
  font-size: 2.986rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 5.61rem;
  }
}

.font-size-2 {
  font-size: 2.488rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 4.209rem;
  }
}

.font-size-3 {
  font-size: 2.074rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.157rem;
  }
}

.font-size-4 {
  font-size: 1.728rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.369rem;
  }
}

.font-size-5 {
  font-size: 1.44rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.777rem;
  }
}

.font-size-6 {
  font-size: 1.2rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.333rem;
  }
}

.font-size-p {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.833rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 0.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
